.page-not-found-container {
    width: 100%;
    margin-top: 80px;
}

.travel-image {
    width: 313px;
    aspect-ratio: auto 313 / 428;
    height: 428px;
}

.not-found-main {
    display: flex;
    flex-direction: row;
    max-width: 1080px;
    min-width: 800px;
    padding-left: 24px;
    padding-right: 24px;
    margin: 125px auto;
    box-sizing: border-box;
}

.not-found-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 70%;
}

.not-found-text > h1 {
    font-size: 145px;
    color: #484848;
    margin-top: 25px;
    margin-bottom: 15px;
}

.not-found-text > h2 {
    font-size: 32px;
    font-weight: normal;
    color: #484848;
    margin: 25px 0px 15px;
}

.not-found-text > h3 {
    font-size: 14px;
    color: #767676;
    margin: 25px 0px 15px;
}

.not-found-image {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 30%;
}
