.calendar-container-visible {
    height: fit-content;
    position: relative;
    top: -20px;
    right: 308px;
}

.calendar-container-hidden {
    height: fit-content;
    position: relative;
    top: -20px;
    right: 308px;
    visibility: hidden;
}

.calendar {
    position: absolute;
    top: 24px;
    left: 10px;
    width: 100%;
    margin: none;
    box-sizing: border-box;
}

.rdrCalendarWrapper {
    width: 660px;
    height: 468px;
    padding: 24px 32px 16px;
    border-radius: 16px;
    background-color: #fff;
    box-shadow: rgb(0 0 0 / 20%) 0px 6px 20px;
    box-sizing: border-box;
    position: relative;
    top: -24px;
    right: 10px;
    z-index: 1;
}

.rdrDefinedRangesWrapper,
.rdrMonthAndYearPickers {
    display: none;
}

.rdrDayDisabled {
    background-color: #FFF;
}

.rdrDayNumber {
    color: #222222;
    font-size: 14px;
    font-weight: 500;
}

.rdrDayDisabled > .rdrDayNumber {
    text-decoration: line-through !important;
    color: #B0B0B0;
}

.rdrDayPassive > .rdrDayNumber {
    display: none;
}

.rdrStartEdge,
.rdrEndEdge {
    background-color: #222222;
}

.rdrInRange {
    background-color: #F7F7F7;
}

.rdrDay:not(.rdrDayPassive) .rdrInRange ~ .rdrDayNumber span {
    color: #222222;
}

.rdrDayStartPreview,
.rdrDayEndPreview {
    border: 1px solid #222222;
}

.rdrDayInPreview {
    border-color: #222222;
}

.rdrDay {
    height: 45px;
}

.rdrWeekDay {
    color: #717171;
    font-weight: 600;
}

.rdrCalendarWrapper {
    position: relative;
}

.rdrMonthAndYearWrapper {
    width: calc(100% - 15px);
    position: absolute;
    top: 68px;
    left: 7px;
}

.rdrMonthAndYearWrapper > button {
    background-color: transparent;
}

.rdrMonthAndYearWrapper > button > i {
    display: none;
}

.rdrPprevButton:hover {
    background-color: #F7F7F7;
    border-radius: 50%;
    background-image: url("../../images/left-arrow.svg");
    width: 32px;
    height: 32px;
    background-repeat: no-repeat;
    background-position: center;
}

.rdrPprevButton {
    background-image: url("../../images/left-arrow.svg");
    width: 32px;
    height: 32px;
    background-repeat: no-repeat;
    background-position: center;
}

.rdrNextButton:hover {
    background-color: #F7F7F7;
    border-radius: 50%;
    background-image: url("../../images/right-arrow.svg");
    width: 32px;
    height: 32px;
    background-repeat: no-repeat;
    background-position: center;
}

.rdrNextButton {
    background-image: url("../../images/right-arrow.svg");
    width: 32px;
    height: 32px;
    background-repeat: no-repeat;
    background-position: center;
}

.rdrMonthName {
    font-size: 16px;
    color: #222222;
    text-align: center;
    margin-top: 22px;
}

.rdrMonth {
    padding: 0 13px;
    max-width: 320px;
    box-sizing: border-box;
}

.rdrDateDisplayWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
    position: relative;
    width: 100%;
    height: 56px;
}

.rdrDateDisplayWrapper::after {
    content: "";
    background: rgb(151, 150, 150);
    position: absolute;
    top: 0;
    right: 160px;
    height: 100%;
    width: 1px;
    visibility: visible;
    z-index: 1;

}

.rdrDateInput {
    border: none;
    box-shadow: none;
    text-align: left;
    border-radius: 8px;
    margin: 0em !important;
}

.rdrDateDisplay {
    height: 56px;
    width: 320px;
    min-width: 320px;
    border: 1px solid rgb(151, 150, 150);
    border-radius: 8px;
    margin: 0em;
    box-sizing: border-box;
    visibility: visible;
    z-index: 1;
}

.rdrDateInput > input {
    padding-top: 15px;
    height: 100%;
    font-size: 16px;
    color: #222222;
    text-indent: 10px;
    line-height: 3em;
    box-sizing: border-box;
}

.rdrDateDisplay > span:nth-child(1) > input:focus {
    border: 2px solid black !important;
    border-radius: 8px 0 0 8px !important;
    border-right: 3px solid black !important;
    text-indent: 8px;
}

.rdrDateDisplay > span:nth-child(2) > input:focus {
    border: 2px solid black !important;
    border-radius: 0 8px 8px 0 !important;
    text-indent: 8px;
}

.rdrDateDisplay > span:nth-child(1)::after {
    content: "CHECK-IN";
    width: 58px;
    font-size: 10px;
    line-height: 12px;
    color: rgb(34, 34, 34);
    position: absolute;
    top: 12px;
    left: 12px;
}

.rdrDateDisplay > span:nth-child(2)::after {
    content: "CHECKOUT";
    font-size: 10px;
    line-height: 12px;
    color: rgb(34, 34, 34);
    position: absolute;
    top: 12px;
    left: 12px;
}

.rdrDisabled {
    background-color: #F7F7F7 !important;
    color: rgb(176, 176, 176) !important;
    border-radius: 0 8px 8px 0;
    -webkit-text-fill-color: rgb(221, 221, 221) !important;
}

.select-dates {
    font-size: 22px;
    font-weight: 600;
}

.calendar-btns-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    height: 150px;
}

.check-btn-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    height: 122px;
    position: relative;
    top: 20px;
    left: 308px;
}

.reserve-btn,
.check-btn {
    background: linear-gradient(to right, #E61E4D 0%, #E31C5F 50%, #D70466 100%);
    width: 320px;
    padding: 14px 24px;
    border: none;
    border-radius: 8px;
    box-sizing: border-box;
    color: #ffffff;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
}


.reserve-disabled {
    cursor: not-allowed;
    background: linear-gradient(to right, rgb(230, 30, 77, 0.6) 0%, rgb(227, 28, 95, 0.6) 50%, rgb(215, 4, 102, 0.6) 100%);
}

.reserve-note {
    display: flex;
    justify-content: center;
    width: 320px;
    font-size: 14px;
    font-weight: 400;
    margin: 10px 0 0 0;
}

.visible {
    visibility: visible !important;
}

.hidden {
    visibility: hidden !important;
}
