.calendar {
    width: 320px;
    margin: none;
}

.calendar-container {
    display: flex;
    justify-content: center;
}

.rdrMonth {
    width: 320px;
    height: 250px;
    padding: 0 0 20px 0;
}

.rdrDateDisplayWrapper {
    background-color: white;
    border-radius: 8px;
    border: 1px solid rgb(151, 150, 150);
    position: relative;
    height: 56px;
}

.rdrDateDisplayWrapper::after {
    content: "";
    background: rgb(151, 150, 150);
    position: absolute;
    top: 0;
    left: 154px;
    height: 100%;
    width: 1px;
}

.rdrDateInput {
    border: none;
    box-shadow: none;
    text-align: left;
}

.rdrDateInput > input {
    height: 18px;
    margin-top: 15px;
    font-size: 14px;
    line-height: 18px;
    color: #222222;
}

.rdrDateDisplay::after {
    content: "CHECK-IN \00a0\00a0\00a0\00a0\00a0\00a0\00a0"
        "\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0"
        "\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0"
        "\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0"
        "CHECKOUT";
    font-size: 10px;
    line-height: 12px;
    color: rgb(34, 34, 34);
    position: absolute;
    top: 15px;
    left: 11px;
}

.reserve-btn {
    background: linear-gradient(to right, #E61E4D 0%, #E31C5F 50%, #D70466 100%);
    width: 100%;
    padding: 14px 24px;
    border: none;
    border-radius: 8px;
    box-sizing: border-box;
    color: #ffffff;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
}

.reserve-disabled {
    cursor: not-allowed;
    opacity: 0.6;
}
