.host-spot-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100vw;
    height: 88px;
    padding: 32px 48px 0;
    background-color: white;
    position: fixed;
    top: 0;
    box-sizing: border-box;
    z-index: 3;
}

.host-spot-logo {
    width: 52px;
    height: 52px;
    transition: all 0.2s ease-in-out;
}

.host-spot-logo:active {
    transform: scale(0.94);
}

.host-spot-container {
    width: 100vw;
    height: calc(100vh - calc(88px + 82px));
    padding: 0 80px;
    margin: 88px 0 82px;
    overflow-y: auto;
    box-sizing: border-box;
}

.host-spot-footer {
    width: 100vw;
    height: 88px;
    border-top: 6px solid #DDDDDD;
    background-color: white;
    position: fixed;
    bottom: 0;
    z-index: 2;
    box-sizing: border-box;
}

.host-spot-start {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 82px;
    padding: 16px 0;
    box-sizing: border-box;
}

.host-spot-start-btn {
    background: linear-gradient(to right,#E61E4D 0%,#E31C5F 50%,#D70466 100%);
    height: 100%;
    border: none;
    border-radius: 8px;
    text-align: center;
    color: #ffffff;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
    padding: 14px 32px;
    position: relative;
    box-sizing: border-box;
    transition: all 0.2s ease-in-out;
}

.host-spot-start-btn:hover {
    background: linear-gradient(to left,#E61E4D 0%, #E31C5F 50%,#D70466 100%);
}

.host-spot-start-btn:active {
    transform: scale(0.96);
    background: linear-gradient(to right,#FF385C 100%,#E31C5F 50%,#D70466 0%);
}
