.spots-list-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 32px;
    width: 100%;
    max-width: 1700px;
    min-width: 600px;
    height: fit-content;
    margin: 160px auto 80px;
}

.spot-container {
    width: 300px;
    height: 385px;
    margin: 8px 0px 32px;
}

.spot-image {
    display: flex;
    width: 300px;
    height: 285px;
    border-radius: 15px;
    margin-bottom: 12px;
    overflow: hidden;
    position: relative;
}

.hide-image {
    display: none;
}

.center {
    width: 100%;
    height: 285px;
    object-fit: cover;
    position: absolute;
}

.image-switch-btns {
    opacity: 0;
    z-index: 2;
    transition: all .2s ease-in-out;
}

.image-switch-btns:hover {
    opacity: 1;
}

.left-arrow {
    background-color: rgba(255, 255, 255, 0.9);
    border: 1px solid rgba(0, 0, 0, 0.6);
    font-size: 15px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    position: absolute;
    top: 125px;
    left: 15px;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.left-arrow > span {
    position: relative;
    top: -2px;
    right: 1px;
}
.right-arrow {
    background-color: rgba(255, 255, 255, 0.9);
    border: 1px solid rgba(0, 0, 0, 0.6);
    font-size: 15px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    position: absolute;
    top: 125px;
    right: 15px;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.right-arrow > span {
    position: relative;
    top: -2px;
    left: 1px;
}

.center:hover~.image-switch-btns {
    opacity: 1;
}


.left-arrow:hover {
    background-color: rgba(255, 255, 255, 1);
    transform: scale(1.1);
}


.right-arrow:hover {
    background-color: rgba(255, 255, 255, 1);
    transform: scale(1.1);
}

.spot-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100px;
    font-size: 14px;
}

.location-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 15px;
    font-weight: 600;
    color: #222222;
}

.spot-location {
    display: block;
    width: 80%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.star-text {
    font-weight: normal;
    color: #222222;
}

.star-image {
    width: 14px;
    height: 14px;
    object-fit: cover;
    position: relative;
    bottom: -1px;
    margin-right: 3px;
}

.name-info {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    width: 300px;
    height: 40%;
    color: #717171;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    word-wrap: break-word;
    text-overflow: ellipsis;
    overflow: hidden;
}

.price-info {
    margin-top: 8px;
    font-size: 15px;
    font-weight: 600;
    color: #222222;
    position: relative;
    bottom: 0px;
}

.price-info > span {
    font-size: 14px;
    font-weight: normal;
}
