.spots-list-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 32px;
    max-width: 1700px;
    height: fit-content;
    margin: 160px auto 80px;
}

.spot-container {
    width: 300px;
    height: 385px;
    margin: 8px 0px 32px;
}

.spot-image {
    display: flex;
    width: 300px;
    height: 285px;
    border-radius: 15px;
    margin-bottom: 12px;
    overflow: hidden;
}

#center {
    width: 100%;
    height: 285px;
    object-fit: cover;
}

.spot-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100px;
    font-size: 14px;
}

.location-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 15px;
    font-weight: bold;
    color: #222222;
}

.star-text {
    font-weight: normal;
    color: #222222;
}

.star-image {
    width: 15px;
    height: 13px;
    object-fit: cover;
    position: relative;
    bottom: -1px;
    margin-left: 2px;
}

.name-info {
    width: 300px;
    height: 40%;
    color: #696969;
    line-height: 20px;
    text-overflow: ellipsis;
}

.price-info {
    margin-top: 8px;
    font-size: 15px;
    font-weight: bold;
    color: #222222;
    position: relative;
    bottom: 0px;
}

.price-info > span {
    font-size: 14px;
    font-weight: normal;
}
