.host-step-1-type-bottom {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-height: 100%;
    margin-top: 16px;
    box-sizing: border-box;
}

.host-step-1-type-main {
    width: 100%;
    margin-bottom: 12px;
    box-sizing: border-box;
    animation-name: fadeUpIn;
    animation-duration: 600ms;
    animation-iteration-count: 1;
    animation-fill-mode: both;
}

.host-step-1-type-btn {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    min-height: 88px;
    padding: 0;
    border: 1px solid #DDDDDD;
    border-radius: 12px;
    background-color: #FFFFFF;
    cursor: pointer;
    box-sizing: border-box;
}

.host-step-1-type-btn-checked {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    min-height: 88px;
    padding: 0;
    border: 1px solid transparent;
    border-radius: 12px;
    background-color: #F7F7F7;
    box-shadow: 0px 0px 0px 2px #222222;
    cursor: pointer;
    box-sizing: border-box;
}

.host-step-1-type-text {
    text-align: left;
    width: 100%;
    margin: 24px;
    box-sizing: border-box;
}

.host-step-1-type-text-1 {
    font-size: 18px;
    line-height: 24px;
    font-weight: 600;
    margin: 0;
}

.host-step-1-type-text-2 {
    max-width: 400px;
    font-size: 14px;
    line-height: 18px;
    color: #717171;
    margin-top: 4px;
}

.host-step-1-type-img-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 24px 24px 0 8px;
}

@media screen and (max-width: 743px) {
    .host-step-1-type-bottom {
        margin-top: 8px;
    }
}
