.show-all-photos-btn {
    cursor: pointer;
    display: inline-block;
    margin: 0px;
    position: relative;
    text-align: center;
    text-decoration: none;
    width: auto;
    touch-action: manipulation;
    font-size: 14px;
    line-height: 18px;
    font-weight: 600;
    border-radius: 8px;
    border-width: 1px;
    border-style: solid;
    outline: none;
    padding: 7px 15px;
    transition: box-shadow 0.2s ease 0s, -ms-transform 0.1s ease 0s, -webkit-transform 0.1s ease 0s, transform 0.1s ease 0s;
    -webkit-tap-highlight-color: transparent;
    border-color: #222222;
    background: #FFFFFF;
    color: #222222;
}

.show-all-photos-btn-content {
    display: flex;
    align-items: center;
    box-sizing: border-box;
}

.show-photos-svg {
    width: 16px;
    height: 16px;
}

.show-all-photos-btn-text {
    margin-left: 8px;
}

.all-photos-modal-container {
    display: flex;
    justify-content: flex-start;
    width: 100vw;
    height: 100vh;
    overflow: auto;
    min-height: fit-content;
    position: relative;
}

.show-all-photos-container {
    display: flex;
    justify-content: center;
    margin-top: 80px;
    margin-bottom: 160px;
    margin-right: 390px;
    width: 100%;
    height: fit-content;
    box-sizing: border-box;
}

.wrapper {
    display: grid;
    grid-template-columns: 370px 370px;
    grid-auto-rows: 250px;
    gap: 10px;
    width: 370px;

}

.wrapper div:nth-child(3n + 1) {
    grid-column-end: span 2;
    grid-row-end: span 2;
    width: 748px;
    height: 508px;
}

.wrapper div:nth-child(3n + 1)>img {
    object-fit: cover;
    width: 748px;
    height: 508px;
}

.wrapper div:nth-child(3n + 2) {
    width: 370px;
    height: 250px;
}

.wrapper div:nth-child(3n + 2)>img {
    object-fit: cover;
    width: 370px;
    height: 250px;
}

.wrapper div:nth-child(3n + 3) {
    width: 370px;
    height: 250px;
}

.wrapper div:nth-child(3n + 3)>img {
    object-fit: cover;
    width: 370px;
    height: 250px;
}

.exit-modal {
    background-color: rgb(255, 255, 255);
    font-size: 15px;
    width: 40px;
    height: 35px;
    border-radius: 50%;
    border: none;
    position: sticky;
    top: 20px;
    left: 30px;
    cursor: pointer;
    transition: all .2s ease-in-out;
    z-index: 4;
}

.exit-modal > span {
    position: relative;
    top: -1px;
    left: -1px;
}

.exit-modal:hover {
    background-color: #EBEBEB;
}

.show-all-single-image {
    position: relative;
}

.delete-image-btn {
    width: 100px;
    height: 35px;
    background-color: #222222;
    color: white;
    border: 1px solid rgb(255, 255, 255, 0.5);
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 2;
    cursor: pointer;
}

.delete-image-btn:active {
    background-color: rgb(182, 54, 7);
}
