.signup-form {
    width: 100%;
    position: relative;
    height: fit-content;
    min-height: 120px;
}

.signup-container-first {
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
}

.signup-container {
    display: flex;
    flex-direction: column;
    margin-top: 24px;
    margin-bottom: 24px;
}

.credential-invalid {
    background-color: #FFF8F6;
    width: 100%;
    height: 56px;
    padding-left: 12px;
    padding-top: 19px;
    border: none;
    border-radius: 8px;
    box-shadow: inset 0 0 0 1px #C13515;
    box-sizing: border-box;
}

.credential-invalid:focus {
    box-shadow: inset 0 0 0 2px #C13515;
    border: none;
    border-radius: 8px;
}

.credential[type='text'] {
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
}

.credential-username::after {
    content: 'Username';
}

.credential-confirm-password::after {
    content: 'Confirm Password';
}

.signup-info {
    display: flex;
    color: rgb(113, 113, 113);
    font-size: 12px;
    line-height: 16px;
    margin-top: 8px;
}

.disclosure {
    font-size: 12px;
    line-height: 16px;
}
