.price-container {
    width: 468px;
    height: 448px;
    padding: 10px;
    border-radius: 12px;
    background-color: white;
    box-shadow: rgb(0 0 0 / 28%) 0px 8px 28px;
    box-sizing: border-box;
    position: relative;
    z-index: 2;
}

.confirm-booking-header {
    font-size: 32px;
    font-weight: bold;
    margin-left: 20px;
    margin-top: 20px;
}

.price-list-header {
    font-size: 22px;
    font-weight: 600;
}

.detail-headers {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 0;
}

.date-booking-info {
    margin-top: 8px;
}

.price-booking-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    line-height: 20px;
    margin-top: 8px;

}

.price-total {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 24px;
    margin-top: 24px;
    border-top: 1px solid rgb(221, 221, 221);
    font-weight: bold;
    line-height: 20px;
}

.confirm-booking-btns {
    display: flex;
    justify-content: space-evenly;
    margin-top: 24px;
}

.confirm-booking-btns > div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
}

.cancel-booking {
    background: linear-gradient(to right,#E61E4D 0%,#E31C5F 50%,#D70466 100%);
    width: 100%;
    padding: 14px 24px;
    border: none;
    border-radius: 8px;
    box-sizing: border-box;
    color: #ffffff;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.confirm-booking {
    background: linear-gradient(to right,#E61E4D 0%,#E31C5F 50%,#D70466 100%);
    width: 100%;
    padding: 14px 24px;
    border: none;
    border-radius: 8px;
    box-sizing: border-box;
    color: #ffffff;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.cancel-booking:hover,
.confirm-booking:hover {
    background: linear-gradient(to left,#E61E4D 0%, #E31C5F 50%,#D70466 100%);
}

.cancel-booking:active,
.confirm-booking:active {
    transform: scale(0.96);
    background: linear-gradient(to right,#FF385C 100%,#E31C5F 50%,#D70466 0%);
}

.confirm-booking-disabled {
    background: linear-gradient(to right, #E61E4D 0%, #E31C5F 50%, #D70466 100%);
    width: 100%;
    padding: 14px 24px;
    border: none;
    border-radius: 8px;
    box-sizing: border-box;
    color: #ffffff;
    font-weight: 600;
    font-size: 16px;
    cursor: wait;
    opacity: 0.6;
}
