#modal {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #modal-background {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.1);
  }

  #modal-content {
    position: absolute;
    background-color: transparent;
  }

  .animate-modal {
    position: relative;
    background-color: white;
    animation: modaltakeover .5s forwards;
}

.animate-modal-close {
    position: relative;
    background-color: white;
    animation: modaltakedown .5s forwards;
}

@keyframes modaltakeover {
    from {
        bottom: -2000px;
        opacity: 0;
    }

    to {
        bottom: -80px;
        opacity: 1;
    }
}

@keyframes modaltakedown {
    from {
        bottom: -80px;
        opacity: 1;
    }

    to {
        bottom: -2000px;
        opacity: 0;
    }
}
