.delete-image-error-box {
    position: relative;
    width: auto;
}

.delete-image-error {
    width: 100%;
    position: fixed;
    top: -15px;
    left: 0px;
    background-color: #fff;
    z-index: 3;
}

.delete-image-error > li {
    position: relative;
    left: 0%;
    width: 748px;
    margin: 25px auto;
    background-color: #fff;
    box-sizing: border-box;
}
