.location-confirm-country-container {
    display: flex;
    flex: 1 1 auto;
    width: 100%;
    margin-bottom: 16px;
    position: relative;
    box-sizing: border-box;
}

.location-confirm-country {
    position: relative;
    flex: 1 1 auto;
    padding: 0px;
    border-radius: 8px;
    box-shadow: inset 0 0 0 1px #B0B0B0;
}

.location-confirm-country:focus-within {
    box-shadow: inset 0 0 0 2px #222222;
}

.location-confirm-header-shrink,
.location-confirm-header-enlarge {
    margin: 0;
    position: absolute;
    top: 18px;
    left: 12px;
    right: 12px;
    box-sizing: border-box;
    transform-origin: 0% 0%;
    transition: transform 0.15s cubic-bezier(0.455,0.03,0.515,0.955);
    box-sizing: border-box;
}
.location-confirm-header-shrink {
    width: calc(133.33333333333334% - 32px);
    padding-right: 24px;
    transform: translateY(-8px) scale(0.75);
}

.location-confirm-header-enlarge {
    padding: 0px;
    cursor: text;
}

.location-confirm-header-text {
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    color: #717171;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#countryCode {
    width: 100%;
    min-height: 56px;
    border: none;
    outline: none;
    padding: 26px 36px 10px 12px;
    margin: 0;
    background: transparent;
    background-image: url('../../../../images/select-down-arrow.svg');
    background-repeat: no-repeat;
    background-size: 16px;
    background-position-x: calc(100% - 16px);
    background-position-y: 50%;
    -moz-appearance:none; /* Firefox */
    -webkit-appearance:none; /* Safari and Chrome */
    appearance:none;
    position: relative;
    box-sizing: border-box;
}

.country-code-option {
    font-size: 16px;
    line-height: 20px;
    box-sizing: border-box;
}

.location-confirm-combined-container {
    border-radius: 8px;
    position: relative;
    box-shadow: inset 0 0 0 1px #B0B0B0;
}

.location-confirm-combined-item-1,
.location-confirm-combined-item-2,
.location-confirm-combined-item-3,
.location-confirm-combined-item-4 {
    display: flex;
    flex: 1 1 auto;
    width: 100%;
    position: relative;
    box-sizing: border-box;
}

.location-confirm-combined {
    position: relative;
    flex: 1 1 auto;
    padding: 0px;
    margin: 0;
}

.location-confirm-combined-item-1:focus-within,
.location-confirm-combined-item-2:focus-within,
.location-confirm-combined-item-3:focus-within,
.location-confirm-combined-item-4:focus-within {
    border-radius: 8px;
    box-shadow: inset 0 0 0 2px #222222;
}

.location-confirm-border-1,
.location-confirm-border-2,
.location-confirm-border-3 {
    width: 100%;
    height: 1px;
    position: absolute;
    border-bottom: 1px solid #B0B0B0;
}

.location-confirm-border-1 {
    top: 55px
}

.location-confirm-border-2 {
    top: 111px;
}

.location-confirm-border-3 {
    top: 167px;
}

.location-confirm-combined-item-1:focus-within ~ .location-confirm-border-1 {
    border: none;
}

.location-confirm-combined-item-2:focus-within ~ .location-confirm-border-1,
.location-confirm-combined-item-2:focus-within ~ .location-confirm-border-2 {
    border: none;
}

.location-confirm-combined-item-3:focus-within ~ .location-confirm-border-2,
.location-confirm-combined-item-3:focus-within ~ .location-confirm-border-3 {
    border: none;
}

.location-confirm-combined-item-4:focus-within ~ .location-confirm-border-3 {
    border: none;
}

#street,
#city,
#state,
#zipcode {
    width: calc(100% - 24px);
    min-height: 24px;
    border: none;
    outline: none;
    padding: 0;
    margin: 26px 12px 6px 12px;
    background: transparent;
    position: relative;
    box-sizing: border-box;
}

.location-confirm-combined:focus-within > .location-confirm-header-enlarge {
    width: calc(133.33333333333334% - 32px);
    padding-right: 24px;
    transform: translateY(-8px) scale(0.75);
    cursor: default;
}

.location-confirm-map-container {
    padding-top: 28px;
    padding-bottom: 80px;
    border-top: 1px solid #DDDDDD;
    margin-top: 32px;
    margin-bottom: 96px;
    box-sizing: border-box;
}

#step-1-confirm-map {
    width: 100%;
    /* height: 100%; */
    height: 280px;
    border-radius: 16px;
    overflow: hidden !important;
    /* position: absolute !important; */
    /* top: 0; */
    /* left: 0; */
}
