.hosting-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: fit-content;
    width: 100%;
    margin: 80px 0;
    box-sizing: border-box;
}

.hosting-auth-container {
    width: 100%;
    max-width: 728px;
    min-width: 460px;
    height: 450px;
    margin: 100px auto 0 auto;
    padding: 0 80px;
    box-sizing: border-box;
}

.hosting-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
}

.hosting-introduction {
    width: 100%;
    height: 225px;
    background: url(https://airballnbrick.s3.amazonaws.com/hosting-intro-background.webp);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 80px 0;
    box-sizing: border-box;
}

.hosting-header,
.hosting-sub-header {
    width: 100%;
    min-width: 400px;
    max-width: 1440px;
    padding: 0 80px;
    color: #FFF;
    box-sizing: border-box;
}

.hosting-header {
    font-size: 32px;
    font-weight: 600;
    line-height: 36px;
    margin: 0 auto;
}

.hosting-sub-header {
    font-weight: normal;
    line-height: 20px;
    margin: 16px auto 15px;
}

/*
hosting reservations css goes here
*/
.hosting-reservations-container,
.hosting-listing-container {
    display: flex;
    justify-content: center;
    width: 100vw;
}

.hosting-reservations-main,
.hosting-listing-main {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1440px;
    height: fit-content;
    padding: 64px 80px 0 80px;
    box-sizing: border-box;
}

.reservation-options {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 100%;
}

.reservation-display,
.listing-display {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    min-width: 300px;
    height: fit-content;
    max-height: 650px;
    overflow-y: auto;
}

.hosted-spot-listing,
.hosted-reservation {
    display: flex;
    flex-direction: column;
    flex-basis: calc(25% - 25px);
    width: 300px;
    height: 240px;
    border: 1px solid #DDDDDD;
    border-radius: 12px;
    background-color: #FFFFFF;
    overflow: hidden;
    box-sizing: border-box;
    position: relative;
}

.hosted-spot-listing {
    cursor: pointer;
}

@media screen and (max-width: 610px) {
    .hosted-spot-listing,
    .hosted-reservation {
        flex-basis: calc(100% - 25px);
        width: 450px;
        height: 360px;
    }
}

@media screen and (min-width: 611px) and (max-width: 910px) {
    .hosted-spot-listing,
    .hosted-reservation {
        flex-basis: calc(50% - 25px);
        width: 400px;
        height: 340px;
    }
}

@media screen and (min-width: 911px) and (max-width: 1210px) {
    .hosted-spot-listing,
    .hosted-reservation {
        flex-basis: calc(33.33% - 25px);
        width: 350px;
        height: 300px;
    }
}

.hosted-spot-image-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.hosted-spot-image {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hosted-spot-name {
    display: flex;
    align-items: center;
    width: 100%;
    height: 25%;
    padding: 15px;
    border-top: 1px solid #DDDDDD;
    box-sizing: border-box;
}

.hosted-name-text {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #222222;
}

.hosted-reservation-container {
    display: flex;
    width: 100%;
    height: 75%;
    padding: 12px;
    box-sizing: border-box;
}

.hosted-reservation-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    padding-right: 12px;
    padding-bottom: 24px;
    box-sizing: border-box;
}

.hosted-reservation-info-inner {
    display: flex;
    flex-direction: column;
    word-break: break-all;
}

.hosted-reservation-image-container {
    width: 50%;
    border-radius: 0 12px 0 0;
    overflow: hidden;
}

.hosted-reservation-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hosted-reservation-footer {
    display: flex;
    align-items: center;
    width: 100%;
    height: 25%;
    padding: 15px;
    border-top: 1px solid #DDDDDD;
    box-sizing: border-box;
}

.reservation-btn-option {
    font-size: 14px;
    line-height: 18px;
    min-height: 40px;
    height: fit-content;
    background-color: #FFFFFF;
    padding: 4px 16px;
    border: none;
    box-shadow: 0 0 0 1px #DDDDDD;
    border-radius: 20px;
    margin-right: 18px;
    margin-bottom: 18px;
    text-align: center;
    outline: none;
    cursor: pointer;
    transition: all 0.15s ease-in-out;
}

.reservation-btn-option:hover {
    box-shadow: 0 0 0 1px black;
}

.reservation-btn-option:active,
.reservation-btn-choice:active {
    transform: scale(0.96);
}

.reservation-btn-choice {
    font-size: 14px;
    line-height: 18px;
    min-height: 40px;
    height: fit-content;
    background-color: #F7F7F7;
    padding: 4px 16px;
    border: none;
    box-shadow: 0 0 0 1px #DDDDDD;
    border-radius: 20px;
    margin-right: 18px;
    margin-bottom: 18px;
    text-align: center;
    outline: none;
    cursor: pointer;
    transition: all 0.15s ease-in-out;
    box-shadow: 0 0 0 2px black;
}

.reservation-empty-container,
.listing-empty-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 200px;
    background: #F7F7F7;
    border-radius: 12px;
}

.reservation-empty-main,
.listing-empty-main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    width: 200px;
    height: 100px;
    font-size: 14px;
}

.reservation-empty-icon,
.listing-empty-icon {
    width: 32px;
    height: 32px;
}

.hosting-tips-container {
    display: flex;
    justify-content: center;
    width: 100vw;
}

.hosting-tips-main {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1440px;
    height: fit-content;
    padding: 64px 80px;
    box-sizing: border-box;
}

.tips-header,
.listing-header,
.reservation-header {
    font-size: 26px;
    font-weight: 600;
    max-width: 1280px;
    margin: 0 0 24px 0;
}

.tips-list {
    display: flex;
    width: 100%;
    min-width: 250px;
    max-width: 1280px;
    height: fit-content;
    list-style: none;
    box-sizing: border-box;
}

.tip-box {
    width: 100%;
    height: 100%;
    background-color: rgb(34, 34, 34);
    border-radius: 12px;
    box-sizing: border-box;
}

.tip-image {
    width: 100%;
    height: fit-content;
    border-radius: 12px 12px 0 0;
    overflow: hidden;
}

.tip-image>img {
    width: 100%;
    min-width: 250px;
    object-fit: cover;
}

.tip-info {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #FFF;
    padding: 10px;
    width: 100%;
    height: 90px;
    box-sizing: border-box;
}
