.single-spot-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1120px;
    height: fit-content;
    margin: 120px auto 80px;
}

.divider {
    font-size: 16px;
    font-weight: bold;
}

.edit-delete-buttons {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.edit-button,
.delete-button {
    width: 35%;
    padding: 15px;
    margin: 25px 50px;
    border: 5px groove #CF5300;
    border-radius: 10px;
    background-color: rgb(58, 58, 58);
    color: white;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
}

.edit-button:active,
.delete-button:active,
.post-review-button:active {
    background-color: black;
}

.single-spot-image-container {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 8px;
    max-width: 1120px;
    max-height: 560px;
    flex-grow: 15%;
    position: relative;
}

.image-fit-main {
    width: 100%;
    height: 560px;
    object-fit: cover;
    border-radius: 20px 0 0 20px;
}

.image-fit-sub {
    width: 100%;
    height: 276px;
    object-fit: cover;
}

.right-top {
    border-radius: 0 20px 0 0;
}

.right-bot {
    border-radius: 0 0 20px 0;
}

.main-image {
    width: 560px;
    height: 560px;
    grid-column: 1;
    grid-row: 1 / 3;
}


.middle-image-top {
    width: 272px;
    height: 276px;
    grid-column: 2;
    grid-row: 1;
}

.middle-image-bottom {
    width: 272px;
    height: 276px;
    grid-column: 2;
    grid-row: 2;
}

.right-image-top {
    width: 272px;
    height: 276px;
    grid-column: 3;
    grid-row: 1;
}

.right-image-bottom {
    width: 272px;
    height: 276px;
    grid-column: 3;
    grid-row: 2;
}

.spot-header {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
}

.single-name-info {
    font-size: 26px;
    color: #222222;
    font-weight: bold;
    margin-bottom: 12px;
}

.spot-sub-header {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

.spot-sub-header > div {
    color: #222222;
}

.single-location-info {
    margin-left: 5px;
}

.single-spot-info {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    width: 100%;
    height: fit-content;
    padding-bottom: 35px;
    border-bottom: 1px solid #d9e1ec;
}

.main-spot-content {
    display: flex;
    flex-direction: column;
    width: 60%;
    color: #222222;
}

.host-name {
    padding-bottom: 35px;
    border-bottom: 1px solid #d9e1ec;
    margin: 0px;
}

.spot-description {
    width: 100%;
    height: fit-content;
    font-size: 16px;
    font-weight: normal;
    margin: 0px;
    padding: 35px 0px;
    word-wrap: break-word;
}

.hovering-content {
    text-align: center;
    margin: -1% auto;
    height: 300px;
    width: 30%;
    border: 1px solid rgb(221, 221, 221);
    border-radius: 12px;
    padding: 24px;
    box-shadow: rgb(0 0 0 / 12%) 0px 6px 16px;
    position: relative;
    top: 10px;
    font-size: 36px;
    text-decoration: underline;
    text-decoration-color: #CF5300;
}

.spot-review-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.spot-review-container > h3 {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    margin-top: 35px;
}

.review-star-image {
    width: fit-content;
    height: fit-content;
    object-fit: none;
    position: relative;
    bottom: 2px;
    margin-right: 7px;
}

.post-review-button-container {
    display: flex;
    width: 100%;
    justify-content: flex-start;
}

.post-review-button {
    width: 25%;
    padding: 15px;
    border: 5px groove #CF5300;
    border-radius: 10px;
    background-color: rgb(58, 58, 58);
    color: white;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
}

.show-all-photos {
    position: absolute;
    right: 25px;
    bottom: 25px;
}
