.single-spot-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-width: 600px;
    height: fit-content;
    padding-left: 24px;
    padding-right: 24px;
    margin: 120px auto 80px;
    box-sizing: border-box;
    position: relative;
}

.single-spot-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: 600px;
    max-width: 1120px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
}

.divider {
    font-size: 16px;
    font-weight: bold;
}

.edit-delete-buttons {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.edit-button,
.delete-button {
    width: 35%;
    min-width: 101px;
    padding: 15px;
    margin: 25px 50px;
    border: 5px groove #CF5300;
    border-radius: 10px;
    background-color: rgb(58, 58, 58);
    color: white;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.edit-button:active,
.delete-button:active,
.post-review-button:active {
    background-color: black;
    transform: scale(0.96);
}

.single-spot-image-container {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 8px;
    width: 100%;
    height: 560px;
    position: relative;
    box-sizing: border-box;
}

.image-fit-main {
    position: absolute;
    width: 100%;
    min-height: 560px;
    object-fit: cover;
    border-radius: 20px 0 0 20px;
    box-sizing: border-box;
}

.image-fit-sub {
    position: absolute;
    width: 100%;
    min-height: 276px;
    object-fit: cover;
    box-sizing: border-box;
}

.right-top {
    border-radius: 0 20px 0 0;
}

.right-bot {
    border-radius: 0 0 20px 0;
}

.main-image {
    position: relative;
    width: 100%;
    height: 560px;
    grid-column: 1;
    grid-row: 1 / 3;
    overflow: hidden;
}


.middle-image-top {
    position: relative;
    width: 100%;
    height: 276px;
    grid-column: 2;
    grid-row: 1;
    overflow: hidden;
}

.middle-image-bottom {
    position: relative;
    width: 100%;
    height: 276px;
    grid-column: 2;
    grid-row: 2;
    overflow: hidden;
}

.right-image-top {
    position: relative;
    width: 100%;
    height: 276px;
    grid-column: 3;
    grid-row: 1;
    overflow: hidden;
}

.right-image-bottom {
    position: relative;
    width: 100%;
    height: 276px;
    grid-column: 3;
    grid-row: 2;
    overflow: hidden;
}

.spot-header {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    box-sizing: border-box;
}

.single-name-info {
    font-size: 26px;
    font-weight: 600;
    color: #222222;
    min-width: 350px;
    margin-bottom: 12px;
    word-wrap: break-word;
    box-sizing: border-box;
}

.spot-sub-header {
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 20px;
}

.spot-review-avg {
    min-width: fit-content;
}

.spot-review-count {
    min-width: fit-content;
}

.single-location-info {
    max-width: 900px;
    margin-left: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.single-spot-info {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    width: 100%;
    height: fit-content;
    padding-bottom: 35px;
    border-bottom: 1px solid #d9e1ec;
    position: relative;
    box-sizing: border-box;
}

.main-spot-content {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin-right: 20px;
    color: #222222;
}

.host-name {
    width: 100%;
    font-size: 22px;
    font-weight: 600;
    padding-bottom: 35px;
    border-bottom: 1px solid #d9e1ec;
    margin: 0px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.spot-description {
    width: 100%;
    height: fit-content;
    font-size: 16px;
    font-weight: normal;
    line-height: 24px;
    margin: 0px;
    padding: 35px 0px;
    word-wrap: break-word;
}

.hovering-content {
    text-align: left;
    margin: -1% 0 -1% auto;
    height: fit-content;
    max-height: 450px;
    min-width: 370px;
    width: 370px;
    border: 1px solid rgb(221, 221, 221);
    border-radius: 12px;
    padding: 24px;
    box-shadow: rgb(0 0 0 / 12%) 0px 6px 16px;
    position: sticky;
    top: 50px;
    font-size: 22px;
    font-weight: bold;
    box-sizing: border-box;
}

.hovering-content-title {
    font-weight: 600;
    margin-bottom: 20px;
}

.hovering-content-title > span {
    font-size: 16px;
    font-weight: 400;
}

.spot-review-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
}

.spot-review-container > h3 {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    margin-top: 35px;
}

.spot-review-header {
    display: flex;
    align-items: center;
    font-size: 22px;
    font-weight: 600;
}

.review-star-image {
    width: 16px;
    height: 16px;
    object-fit: cover;
    margin-right: 10px;
}

.post-review-button-container {
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

.post-review-button {
    width: 25%;
    padding: 15px;
    border: 5px groove #CF5300;
    border-radius: 10px;
    background-color: rgb(58, 58, 58);
    color: white;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.show-all-photos {
    position: absolute;
    right: 25px;
    bottom: 25px;
}

.content-divider {
    padding: 32px 0;
    border-top: 1px solid #d9e1ec;
}

.single-spot-header {
    font-size: 22px;
    font-weight: 600;
    padding-bottom: 24px;
    margin: 0;
}

.booking-list {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
    height: fit-content;
    margin: 10px 30px 10px 0;
}

.single-booking {
    width: 275px;
    min-width: 250px;
    padding: 12px;
    border: 1px solid #222222;
    border-radius: 8px;
    background: linear-gradient(to right, rgb(230, 30, 77, 0.3) 0%, rgb(227, 28, 94, 0.2) 30%, rgb(215, 4, 102, 0.3) 100%);
    box-sizing: border-box;
}

.single-booking-prev,
.single-booking-current {
    width: 275px;
    min-width: 250px;
    padding: 12px;
    border: 1px solid #222222;
    border-radius: 8px;
    margin-bottom: 20px;
    background: linear-gradient(to right, rgb(230, 30, 77, 0.3) 0%, rgb(227, 28, 94, 0.2) 30%, rgb(215, 4, 102, 0.3) 100%);
    box-sizing: border-box;
}

.booking-date {
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
}

.booking-check {
    display: flex;
    justify-content: space-between;
}

.booking-form-bottom-fixed {
    display: none;
    width: 100%;
    min-width: 600px;
    height: 80px;
    padding: 16px 0px;
    border-top: 1px solid #d9e1ec;
    position: fixed;
    bottom: 0;
    background-color: #FFF;
    box-sizing: border-box;
}

.bottom-fixed-title {
    display: none;
    position: fixed;
    bottom: 54px;
    left: 26px;
    font-weight: 600;
}

.bottom-fixed-title > span {
    font-size: 14px;
    font-weight: 400;
}


@media screen and (max-width: 743px) {
    .middle-image-top,
    .middle-image-bottom,
    .right-image-top,
    .right-image-bottom {
        display: none;
    }

    .single-spot-container {
        margin-top: 80px;
        padding-left: 0;
        padding-right: 0;
    }

    .single-spot-image-container {
        display: flex;
        width: 100%;
        height: calc(100vw - 200px);
        min-width: 600px;
        min-height: 400px;
        position: relative;
        box-sizing: border-box;
        order: -1;
    }

    .main-image {
        width: 100%;
        height: 100%;
    }

    .image-fit-main {
        border-radius: 0;
        width: 100%;
        min-height: 400px;
        height: calc(100vw - 200px);
    }

    .spot-edit-form-container {
        margin-top: 40px;
    }

    .spot-header {
        padding: 24px 0;
        margin: 0 24px;
        width: calc(100% - 48px);
        border-bottom: 1px solid #d9e1ec;
    }

    .single-spot-info {
        display: flex;
        flex-direction: column;
        margin-top: 0;
        margin-left: 24px;
        margin-right: 24px;
        width: calc(100% - 48px);
    }

    .host-name {
        padding: 24px 0;
    }

    .main-spot-content {
        width: 100%;
    }

    .spot-review-container {
        margin-left: 24px;
        margin-right: 24px;
        width: calc(100% - 48px);
    }

    .hovering-content {
        display: none;
    }

    .calendar-container-visible,
    .calendar-container-hidden {
        right: 2px;
        top: calc(-80vh - 17px);
        width: 100%;
        min-width: 600px;
        height: 80vh;
    }

    .rdrCalendarWrapper {
        width: 100%;
        min-width: 600px;
        height: 80vh;
        padding: 24px 0 0 0;
    }

    .rdrMonthAndYearWrapper {
        display: none;
    }

    .rdrDateDisplay {
        width: 250px;
        min-width: 250px;
        height: 46px;
        position: relative;
        top: calc(80vh + 5px);
        right: calc(100% - 276px);
    }

    .rdrDateInput > input {
        padding-top: 10px;
    }

    .rdrDateDisplay > span:nth-child(1)::after {
        top: 7px;
    }

    .rdrDateDisplay > span:nth-child(2)::after {
        top: 7px;
    }

    .rdrDateDisplayWrapper {
        padding-bottom: 20px;
        border-bottom: 1px solid #d9e1ec;
    }

    .rdrDateDisplayWrapper::after {
        height: 45px;
        top: calc(80vh + 5px);
        left: 150px;
    }

    .rdrMonthsHorizontal {
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        overflow: auto;
        height: 100%;
    }

    .rdrMonth {
        width: 100%;
        max-width: 550px;
        margin-bottom: 20px;
        height: fit-content;
    }

    .rdrMonthName {
        text-align: left;
        margin-bottom: 10px;
        margin-top: 12px;
    }

    .rdrDay {
        height: 55px;
    }

    .select-dates {
        padding-left: 24px;
        height: 53px;
    }

    .clear-close-container-1 {
        display: flex;
        justify-content: flex-end;
        width: 100%;
        position: relative;
        top: 20px;
        right: 8px;
    }

    .clear-close-container-2 {
        display: flex;
        justify-content: flex-end;
        width: 100%;
        position: relative;
        top: -27px;
        right: 8px;
    }

    .check-btn-container {
        width: 100%;
        height: 47px;
        top: calc(80vh + 17px);
        left: 2px;
    }

    .calendar-btns-container {
        width: 100%;
        min-width: 600px;
        height: fit-content;
        position: fixed;
        bottom: 16px;
        left: 0px;
        box-sizing: border-box;
    }

    .reserve-btn,
    .reserve-disabled {
        width: 200px;
        margin-right: 24px;
    }

    .reserve-disabled > span {
        display: none;
    }

    .reserve-disabled::after {
        content: 'Log in to reserve';
    }

    .reserve-note-charge,
    .reserve-note-log {
        display: none;
    }

    .check-btn {
        width: 200px;
        margin-right: 24px;
    }

    .booking-form-bottom-fixed,
    .bottom-fixed-title {
        display: block;
    }

}
