.host-step-2-title-container-inner {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    max-width: 630px;
    min-width: 205px;
    height: 412px;
    margin-top: auto;
    margin-bottom: auto;
    overflow: visible;
    box-sizing: border-box;
}

.host-step-2-title-bottom {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-height: 100%;
    box-sizing: border-box;
}

.host-step-2-title-textarea,
.host-step-2-title-textarea-invalid {
    display: block;
    min-width: 100%;
    max-width: 100%;
    max-height: 50vh;
    min-height: 144px;
    outline: none;
    padding: 24px;
    border-radius: 8px;
    border: none;
    resize: vertical;
    text-overflow: ellipsis;
    overflow-y: hidden;
    font-size: 22px;
    line-height: 26px;
    color: #222222;
    box-sizing: border-box;
    animation-name: fadeUpIn;
    animation-duration: 600ms;
    animation-delay: 450ms;
    animation-iteration-count: 1;
    animation-fill-mode: both;
}

.host-step-2-title-textarea {
    box-shadow: grey 0px 0px 0px 1px inset;
}

.host-step-2-title-textarea-invalid {
    box-shadow: firebrick 0px 0px 0px 1px inset;
    background-color: rgb(255, 248, 246);
}

.host-step-2-title-textarea:focus {
    box-shadow: black 0 0 0 2px inset;
}

.host-step-2-title-textarea-invalid:focus {
    box-shadow: firebrick 0px 0px 0px 2px inset;
}

.host-step-2-title-counter {
    display: flex;
    justify-content: flex-start;
    padding-top: 16px;
    width: 100%;
    font-size: 14px;
    line-height: 18px;
    font-weight: 700;
    color: #717171;
    animation-name: fadeUpIn;
    animation-duration: 600ms;
    animation-delay: 500ms;
    animation-iteration-count: 1;
    animation-fill-mode: both;
}

.host-step-2-error {
    display: flex;
    align-items: center;
    color: rgb(193, 53, 21);
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
    margin-top: 16px;
    box-sizing: border-box;
}

.host-step-2-error-hide {
    display: none;
}

@media screen and (max-width: 743px) {
    .host-step-2-title-container-inner {
        margin: 0 auto;
    }

    .host-step-2-title-top {
        margin-bottom: 24px;
    }

    .host-step-2-title-textarea,
    .host-step-2-title-textarea-invalid {
        max-height: 25vh;
        font-size: 18px;
        line-height: 28px;
        padding: 16px;
}

    .host-step-2-title-counter {
        font-size: 12px;
        line-height: 16px;
    }
}
