.step-2-photos-container-inner-2 {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 700px;
    margin: 24px auto;
    position: relative;
    box-sizing: border-box;
}

.step-2-photos-top-2 {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 24px;
    animation-delay: 400ms;
    animation-name: photosAnimation;
    animation-duration: 600ms;
    animation-iteration-count: 1;
    animation-fill-mode: both;
}

.step-2-photos-header-2 {
    font-size: 22px;
    line-height: 26px;
    font-weight: 600;
    padding: 0;
    margin: 0;
    overflow-wrap: break-word;
}

.step-2-add-btn {
    display: inline-flex;
    align-items: center;
    height: 40px;
    padding: 4px 16px;
    margin: 0;
    border: 1px solid #DDDDDD;
    border-color: #DDDDDD;
    border-radius: 20px;
    background-color: #FFFFFF;
    text-align: center;
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
    cursor: pointer;
    /* transition: all 0.15s cubic-bezier(0.2,0,0,1); */
    transition-property: transform,background-color,border-color;
    transition-duration: 0.15s;
    transition-timing-function: cubic-bezier(0.2,0,0,1);
    box-sizing: border-box;
}

.step-2-add-btn:hover {
    border: 1px solid #222222;
}

.step-2-add-btn:active {
    border: 1px solid #222222;
    transform: scale(0.96);
}

.step-2-add-plus-box {
    margin-right: 8px;
    height: 16px;
}

.step-2-add-plus {
    width: 16px;
    height: 16px;
}

.step-2-photos-bottom-2 {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: wrap;
    width: 100%;
    position: relative;
    box-sizing: border-box;
}

.step-2-cover-image-box {
    width: 100%;
    /* max-height: 466px; */
    padding-bottom: 66.67%;
    margin-bottom: 16px;
    background-color: #F7F7F7;
    box-sizing: border-box;
    position: relative;
}

.step-2-image {
    position: absolute;
    width: 100%;
    height: 100%;
    /* can use aspect ratio or padding-bottom */
    /* aspect-ratio: 700 / 466; */
    object-fit: cover;
}

.step-2-image-container {
    width: 50%;
    margin-bottom: 16px;
    position: relative;
    box-sizing: border-box;
}

.step-2-image-container:nth-child(odd) {
    padding-right: 8px;
}

.step-2-image-container:nth-child(even) {
    padding-left: 8px;
}

.step-2-image-container-inner {
    padding-bottom: 66.67%;
    color: #717171;
    position: relative;
    box-sizing: border-box;
}

.step-2-image-container-empty {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 40px;
    color: #717171;
    border: 1px dashed #717171;
    position: absolute;
    box-sizing: border-box;
}

.step-2-image-container-empty:hover {
    border: 2px solid #717171;
}

.step-2-image-container-empty:focus {
    border: 2px solid #717171;
    background-color: #F7F7F7;
}

.step-2-image-box {
    position: absolute;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.step-2-image-box-inner {
    display: inline-block;
    width: 100%;
    height: 100%;
    background-color: rgb(247, 247, 247);
    position: relative;
}

.step-2-loading-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 40px;
    color: #717171;
    border: 2px solid #E9E9E9;
    position: absolute;
    box-sizing: border-box;
    overflow: hidden;
}


@media screen and (max-width: 743px) {
    .step-2-photos-header-2 {
        font-size: 16px;
        line-height: 20px;
    }

    .step-2-photos-subheader {
        font-size: 14px;
        line-height: 18px;
    }

    .step-2-add-btn {
        height: 32px;
        padding: 4px 12px;
        font-size: 12px;
        line-height: 16px;
        font-weight: 600;
    }

    .step-2-add-plus-box {
        height: 10px;
    }

    .step-2-add-plus {
        width: 10px;
        height: 10px;
    }

    .step-2-image-container {
        width: 100%;
    }

    .step-2-image-container:nth-child(odd) {
        padding-right: 0;
    }

    .step-2-image-container:nth-child(even) {
        padding-left: 0;
    }
}
