.step-2-photos-container-inner-2 {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 700px;
    margin: 24px auto;
    position: relative;
    box-sizing: border-box;
}

.step-2-photos-top-2 {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 24px;
    animation-delay: 400ms;
    animation-name: photosAnimation;
    animation-duration: 600ms;
    animation-iteration-count: 1;
    animation-fill-mode: both;
}

.step-2-photos-header-2 {
    font-size: 22px;
    line-height: 26px;
    font-weight: 600;
    padding: 0;
    margin: 0;
    overflow-wrap: break-word;
}

.step-2-add-btn {
    display: inline-flex;
    align-items: center;
    height: 40px;
    padding: 4px 16px;
    margin: 0;
    border: 1px solid #DDDDDD;
    border-radius: 20px;
    background-color: #FFFFFF;
    text-align: center;
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
    cursor: pointer;
    transition-property: all 0.15s cubic-bezier(0.2,0,0,1);
    box-sizing: border-box;
}

.step-2-add-plus-box {
    margin-right: 8px;
    height: 16px;
}

.step-2-add-plus {
    width: 16px;
    height: 16px;
}

.step-2-photos-bottom-2 {
    width: 100%;
    height: 65vh;
    min-height: 300px;
    max-height: min(700px, 50vh);
    position: relative;
    box-sizing: border-box;
}

@media screen and (max-width: 743px) {
    .step-2-photos-header-2 {
        font-size: 16px;
        line-height: 20px;
    }

    .step-2-photos-subheader {
        font-size: 14px;
        line-height: 18px;
    }

    .step-2-add-btn {
        height: 32px;
        padding: 4px 12px;
        font-size: 12px;
        line-height: 16px;
        font-weight: 600;
    }

    .step-2-add-plus-box {
        height: 10px;
    }

    .step-2-add-plus {
        width: 10px;
        height: 10px;
    }
}
