.google-signup-form
.google-existing-login-form {
    width: 100%;
    max-width: 726px;
    height: auto;
}

.google-notice {
    text-align: center;
    margin-top: 24px;
}

@media screen and (min-width: 727px) {
    .google-signup-form,
    .google-existing-login-form {
        position: relative;
        width: 568px;
        height: fit-content;
        border: 1px solid #B0B0B0;
        border-radius: 12px;
        margin: 100px auto 0px auto;
        margin-top: 100px;
    }
}
