.google-signup-form
.google-existing-login-form {
    width: 100%;
    max-width: 726px;
    height: auto;
}

.existing-notice {
    text-align: center;
    margin-top: 0;
    margin-bottom: 24px;
}

.google-notice {
    text-align: center;
    margin-top: 24px;
}

.google-login-status {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    min-width: 300px;
    font-size: 30px;
    margin-top: 100px;
}

.loading-ellipsis {
    position: relative;
    top: 8px;
    right: 32px;
    width: 100px;
}

.oauth-error-container {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.oauth-error-main {
    display: flex;
    flex-direction: column;
    width: 600px;
    height: 600px;
    padding-left: 24px;
    padding-right: 24px;
    margin: 0px auto;
    box-sizing: border-box;
}

.oauth-logo {
    align-self: center;
    width: 75%;
    margin-left: 35px;
}

.oauth-error-header {
    font-size: 24px;
    font-weight: 600;
    text-align: center;
}

.oauth-error-description {
    font-weight: 500;
}

@media screen and (min-width: 727px) {
    .google-signup-form,
    .google-existing-login-form {
        position: relative;
        width: 568px;
        height: fit-content;
        border: 1px solid #B0B0B0;
        border-radius: 12px;
        margin: 100px auto 0px auto;
        margin-top: 100px;
    }
}
