.google-signup-form
.google-existing-login-form {
    width: 100%;
    max-width: 726px;
    height: auto;
}

.existing-notice {
    text-align: center;
    margin-top: 0;
    margin-bottom: 24px;
}

.google-notice {
    text-align: center;
    margin-top: 24px;
}

.google-login-status {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    min-width: 300px;
    font-size: 30px;
    margin-top: 100px;
}

.loading-ellipsis {
    position: relative;
    top: 8px;
    right: 32px;
    width: 100px;
}

@media screen and (min-width: 727px) {
    .google-signup-form,
    .google-existing-login-form {
        position: relative;
        width: 568px;
        height: fit-content;
        border: 1px solid #B0B0B0;
        border-radius: 12px;
        margin: 100px auto 0px auto;
        margin-top: 100px;
    }
}
