.login-form {
    position: relative;
    color: #222222;
    height: 100vh;
    max-height: 586px;
    width: 568px;
    border-radius: 12px;
    box-shadow: rgb(0 0 0 / 28%) 0px 8px 28px;
    background-repeat: no-repeat;
    background-size: 100%;
}

.auth-header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 64px;
    font-weight: 700;
    padding: 0 24px;
    box-sizing: border-box;
    border-bottom: 1px solid rgb(235, 235, 235);
}

.auth-exit {
    display: block;
    width: 32px;
    height: 32px;
    position: absolute;
    top: 24%;
    left: 16px;
    border-radius: 50%;
    border: none;
    background-color: #FFFFFF;
    cursor: pointer;
    transition: transform 0.25s ease;
}

.auth-exit > img {
    display: flex;
    margin: auto;
    width: 16px;
    height: 16px;
}

.auth-exit:hover {
    background-color: #F7F7F7;
}

.auth-exit:active {
    transform: scale(0.96);
}

.auth-content {
    display: flex;
    flex-direction: column;
    padding: 24px;
    height: 522px;
    overflow-y: auto;
    outline: none;
    box-sizing: border-box;
}

.auth-welcome {
    font-size: 22px;
    line-height: 26px;
    font-weight: 600;
    margin-top: 8px;
    margin-bottom: 24px;
    box-sizing: border-box;
}

.auth-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
    height: fit-content;
    min-height: 120px;
}

.credential-container {
    display: flex;
    position: relative;
    width: 100%;
    height: 56px;
}

.credential-header::after {
    content: 'Email';
    font-size: 12px;
    line-height: 12px;
    font-weight: 400;
    position: absolute;
    top: 11px;
    left: 12px;
}

.credential-email {
    --focus-bor: #222222;
    --reg-bor: #B0B0B0;
    width: 100%;
    height: 56px;
    padding-left: 12px;
    padding-top: 19px;
    border: none;
    box-shadow: inset 0 0 0 1px var(--reg-bor);
    border-radius: 8px;
}

.credential-email[type='email'] {
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    box-sizing: border-box;
}

.credential-email:focus {
    box-shadow: inset 0 0 0 2px var(--focus-bor);
    border: none;
}

.invalid-email:invalid {
    --focus-bor: #C13515;
    --reg-bor: #C13515;
    background-color: #FFF8F6;
}

.invalid-email:invalid~.credential-header::after {
    color: rgb(193, 53, 21);
    font-weight: 600;
}

.auth-error-container {
    display: flex;
    align-items: center;
    color: rgb(193, 53, 21);
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
    margin-top: 8px;
    box-sizing: border-box;
}

.auth-error-list {
    margin: 0;
    padding-left: 0;
    list-style: none;
}

.auth-error-item {
    display: flex;
}

.exclamation-mark {
    margin-right: 8px;
    filter: invert(19%) sepia(53%) saturate(4915%) hue-rotate(4deg) brightness(92%) contrast(84%);
}

.auth-next {
    width: 100%;
    height: 48px;
    background: #D70466;
    padding: 14px 24px;
    border: none;
    border-radius: 8px;
    margin-top: 16px;
    margin-bottom: 24px;
    box-sizing: border-box;
    color: #ffffff;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.auth-next:hover {
    background-color: #E31C5F;
}

.auth-next:active {
    transform: scale(0.96);
    background: #FF385C;
}

.password-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 545px;
    right: 102px;
}

.login-form-button {
    font-weight: 600;
    padding: 5px;
    width: 100px;
    position: absolute;
    top: 600px;
    left: 300px;
    cursor: pointer;
}
